.moni-sidebar {
  position: relative;
  width: 230px;
  height: 100vh;
  background-image: linear-gradient(#365481, #70d1d6);
}

.moni-sidebar img {
  color: white;
  /* position: absolute; */
}
.moni-sidebar small {
  color: white;
}
.moni-sidebar-navicons {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.link-active {
  background-color: #3da4ac;
}

.moni-sidebar-logodetail {
  display: flex;
  flex-direction: column;
  color: white;
  top: 4%;
  left: 2%;
}
.moni-sidebar-pagedetail {
  top: 30%;
  left: 0%;
}
.moni-sidebar-logindetail {
  bottom: 10%;
  left: 7%;
}
